//Primary Colors

$background-color: #161616; 
$timeline-color: #fff;

//Secondary Colors
$reveal-color: #6A9CCB;
$reveal-hover: #99C5D8;
$waters:#ec6a5e;
$gilmour:#70c4a4;
$wright:#966eae;
$mason:#e8b946;
