//import all of my css variables
@import '_vars';

//import media queries
@import '_mediaqueries';

//Generals

body {
	background-color: $background-color;
}

h3,p, span {
	color: $timeline-color;
	font-family: 'futura', arial, sans-serif;
}

.hidden {
	display: none;
}

/*-------- Header --------*/

#mainHeader {
	width: 100%;
	display: grid;
}

#logoTitle {
	width: 80%;
}

#pinkFloyd {
	margin-top: -30px;
	margin-left: -80px;
} 

#mainNav {
	width: 100%;
	display: grid;
}

#nav {
	justify-self: center;
	margin-bottom: 10%;
	margin-top: 10%;
}

#nav li {
	display: inline;
	padding: 0.1em;
}

#nav img{
	width: 4em;
	height: 4em;
}

@media (min-width: $tablet-width) {
	#pinkFloyd {
		margin-top: -50px;
		margin-left: -90px;
	} 

	#mainNav {
		width: 100%;
	}

	#nav {
		margin-bottom:5%;
		margin-top: 5%;	
	}

	#nav li {
		padding: 1em;
	}

	#mainNav img{
		width: 5em;
		height: 5em;
	}
}

@media (min-width: $desktop-width) {
	#mainHeader {
		display: grid;
		grid-template-columns: 1fr 2fr;
	}

	#logoTitle {
		width: 100%;
	}

	#mainNav {
		width:100%;
		margin-top: 2%
	}

	#nav {
		float:left;
	}

	#nav li {
		padding: 0.5em;
	}

	#mainNav img{
		width: 5em;
		height: 5em;
	}
}

/*-------- General Classes --------*/

.year {
	font-size: 6em;
	margin-bottom: 3%;
}

.title {
	font-size: 3em;
}

.number {
	font-size: 1.4em;
}

.album {
	grid-row:1/2;
}

.record {
	grid-row:2/3;
}

.amp {
	grid-row:3/4;
}


/*-------- Right Elements --------*/

.lineR {
	background-color:  $timeline-color;
	width: 35%;
	height: 0.2em;
	margin-top: 3%;
	float:right;
}

.horizontalLineR {
	background-color:  $timeline-color;
	width: 35%;
	height: 0.2em;
	margin-top: 1%;
	float:right;
}

.weeksR {
	float:right;
	grid-row:1/2;
	text-align: right;
	margin-top: 10%;
}

.weeksR p {
	padding: 3%;
}

.songsR {
	float:right;
	grid-row:2/3;
	text-align: right;
	margin-top: 75%;
}

.songsR p {
	padding: 3%;
}

.writersR {
	float:right;
	grid-row:3/4;
	text-align: right;
	margin-top: 55%;
}

.writersR p {
	padding: 3%;
}

@media (min-width: $tablet-width) {
	.lineR {
		height: 0.5em;
	}

	.weeksR {
		font-size: 2em;
		margin-top: 20%;
	}

	.songsR {
		font-size: 2em;
		margin-top: 55%;
	}

	.writersR {
		font-size: 2em;
		margin-top: 55%;
	}
}


/*-------- Left Elements --------*/

.lineL {
	background-color:  $timeline-color;
	width: 35%;
	height: 0.2em;
	margin-top: 3%;
	float:left;
}

.horizontalLineL {
	background-color:  $timeline-color;
	width: 35%;
	height: 0.2em;
	margin-top: 1%;
	float:left;
}

.weeksL {
	float:left;
	grid-row:1/2;
	text-align: left;
	margin-top: 10%;
}

.weeksL p {
	padding: 3%;
}

.songsL {
	float:left;
	grid-row:2/3;
	text-align: left;
	margin-top: 75%;
}

.songsL p {
	padding: 3%;
}

.writersL {
	float:left;
	grid-row:3/4;
	text-align: left;
	margin-top: 55%;
}

.writersL p {
	padding: 3%;
}

@media (min-width: $tablet-width) {
	.lineL {
		height: 0.5em;
	}

	.weeksL {
		font-size: 2em;
		margin-top: 20%;
	}

	.songsL {
		font-size: 2em;
		margin-top: 55%;
	}

	.writersL {
		font-size: 2em;
		margin-top: 55%;
	}
}

/*-------- writers names --------*/

.waters {
	color: $roger;
	font-size: 0.6em;
	margin-top: 4%;
}

.gilmour {
	color: $gilmour;
	font-size: 0.6em;
}

.wright {
	color: $wright;
	font-size: 0.6em;
}

.mason {
	color: $mason;
	font-size: 0.6em;
}


/*-------- Atom Heart Mother --------*/

#atom {
	display: grid;
	margin-top: 10%;
	padding-left:10%;
	padding-right:10%;

}

#atomAlbumTitle {
	grid-column: 1/3;
	grid-row:1/2;
	margin-bottom: 10%;
	margin-right: 5%;
	text-align: right;
}

#atomTimeLine {
	display: grid;
	grid-column: 2;
	grid-row: 2/4;
	border-right: 0.2em solid $timeline-color;
	margin-right: 8%;
}

#atomTimeElements {
	display:grid;
	grid-column: 2/3;
	grid-row: 2/4;
}

#atomImages {
	display: grid;
	grid-column: 1/2;
	grid-row: 2/4;
	margin-left: 12%;
}

#atomImages img {
	margin-bottom: 2%;
}

@media (min-width: $tablet-width) {

	#atomTimeLine {
		border-right: 0.5em solid $timeline-color;
		margin-right: 20%;
	}

	#atomImages {
		padding: 0 5% 0 5%;
		margin-left: 30%;
	}

	#atomImages img {
		margin-bottom: 35%;
	}
}

/*-------- Dark Side of the Moon --------*/

#darkSide {
	display: grid;
	margin-top: 10%;
	padding-left:10%;
	padding-right:10%;
}

#darkSideAlbumTitle {
	grid-column: 1/3;
	grid-row:1/2;
	margin-bottom: 10%;
	margin-left: 5%;
	text-align: left;
}

#darkSideTimeLine {
	display: grid;
	grid-column: 1/2;
	grid-row: 2/4;
	border-left: 0.2em solid $timeline-color;
	margin-left: 8%;
}

#darkSideTimeElements {
	display:grid;
	grid-row: 1/4;
}

#darkSideImages {
	display: grid;
	grid-column: 2/3;
	grid-row: 2/4;
	margin-right: 12%;
}

#darkSideImages img {
	margin-bottom: 35%;

}

@media (min-width: $tablet-width) {

	#darkSideTimeLine {
		border-left: 0.5em solid $timeline-color;
		margin-left: 20%;
	}

	#darkSideImages {
		padding: 0 5% 0 5%;
		margin-right: 30%;
	}

	#darkSideImages img {
		margin-bottom: 35%;
	}
}

/*-------- Wish You Were Here --------*/

#wishYou {
	display: grid;
	margin-top: 10%;
	padding-left:10%;
	padding-right:10%;

}

#wishYouAlbumTitle {
	grid-column: 1/3;
	grid-row:1/2;
	margin-bottom: 10%;
	margin-right: 5%;
	text-align: right;
}

#wishYouTimeLine {
	display: grid;
	grid-column: 2;
	grid-row: 2/4;
	border-right: 0.2em solid $timeline-color;
	margin-right: 8%;
}

#wishYouTimeElements {
	display:grid;
	grid-column: 2/3;
	grid-row: 2/4;
}

#wishYouImages {
	display: grid;
	grid-column: 1/2;
	grid-row: 2/4;
	margin-left: 12%;
}

#wishYouImages img {
	margin-bottom: 2%;
}

@media (min-width: $tablet-width) {

	#wishYouTimeLine {
		border-right: 0.5em solid $timeline-color;
		margin-right: 20%;
	}

	#wishYouImages {
		padding: 0 5% 0 5%;
		margin-left: 30%;
	}

	#wishYouImages img {
		margin-bottom: 35%;
	}
}

/*-------- Animals --------*/

#animals {
	display: grid;
	margin-top: 10%;
	padding-left:10%;
	padding-right:10%;
}

#animalsAlbumTitle {
	grid-column: 1/3;
	grid-row:1/2;
	margin-bottom: 10%;
	margin-left: 5%;
	text-align: left;
}

#animalsTimeLine {
	display: grid;
	grid-column: 1/2;
	grid-row: 2/4;
	border-left: 0.2em solid $timeline-color;
	margin-left: 8%;
}

#animalsTimeElements {
	display:grid;
	grid-row: 1/4;
}

#animalsImages {
	display:grid;
	grid-column: 2/3;
	grid-row: 2/4;
	margin-right: 12%;
}

#animalsImages img {
	margin-bottom: 35%;

}

@media (min-width: $tablet-width) {

	#animalsTimeLine {
		border-left: 0.5em solid $timeline-color;
		margin-left: 20%;
	}

	#animalsImages {
		padding: 0 5% 0 5%;
		margin-right: 30%;
	}

	#animalsImages img {
		margin-bottom: 35%;
	}
}

/*-------- The Wall --------*/

#wall {
	display: grid;
	margin-top: 10%;
	padding-left:10%;
	padding-right:10%;

}

#wallAlbumTitle {
	grid-column: 1/3;
	grid-row:1/2;
	margin-bottom: 10%;
	margin-right: 5%;
	text-align: right;
}

#wallTimeLine {
	display: grid;
	grid-column: 2;
	grid-row: 2/4;
	border-right: 0.2em solid $timeline-color;
	margin-right: 8%;
}

#wallTimeElements {
	display:grid;
	grid-column: 2/3;
	grid-row: 2/4;
}

#wallImages {
	display: grid;
	grid-column: 1/2;
	grid-row: 2/4;
	margin-left: 12%;
}

#wallImages img {
	margin-bottom: 2%;
}

@media (min-width: $tablet-width) {

	#wallTimeLine {
		border-right: 0.5em solid $timeline-color;
		margin-right: 20%;
	}

	#wallImages {
		padding: 0 5% 0 5%;
		margin-left: 30%;
	}

	#wallImages img {
		margin-bottom: 35%;
	}
}


